
.header, .footer-nav-container {
	background-color:white;
	z-index: 1;
	width: 100vw;
	height: 8vh;
	box-sizing: border-box;
	font-family: body-text;
	font-stretch: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-shrink: 0; 
	border-bottom-color: rgba(0, 0, 0, 0.098);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-width: 1;
	border-left-color: rgb(0, 0, 0);
	border-left-style: solid;
	border-left-width: 0px;
	border-right-color: rgb(0, 0, 0);
	border-right-style: solid;
	border-right-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-top-style: solid;
	border-top-width: 0px;
}

.footer-nav-container{
	position: fixed;
	justify-content: space-between;

	bottom: 0!important;
}
.feed-item {
	border-bottom-color: rgba(0, 0, 0, 0.098);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgba(0, 0, 0, 0.098);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgba(0, 0, 0, 0.098);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgba(0, 0, 0, 0.098);
	border-top-style: solid;
	border-top-width: 1px;
	margin-bottom: 4vh;
	background-color: white;
}

