
* {
  padding: 0;
  margin: 0;
  font-family: body-text;
  font-weight: 600;
  font-size: 12px;
  list-style: none;
}
body {

}
.author {
  font-weight: 10;

}
.posts-container {
  margin-bottom: 10vh;
}
.avatar {
	width: 80px;
	border-radius: 50%;
}
.logo-text {
  font-family: instagram-logo;
  font-weight: 10;
}

.text-regular {
  font-family: body-text;
  font-weight: 600;
  font-size: 14px;
}

.text-uppercase {
  font-family: body-text;
  text-transform: uppercase;
  color: #9A9A9A;
  font-size: 10px;
}

.text-small {
  font-family: body-text;
  font-weight: 600;
  font-size: 12px;
}

.feed-image, .user-image{
width: 100%;
}

.feed-item, .user-item{
min-height: 80vh;
max-height: auto;

}
/* 
.likes-form {
display: inline-block;
}

.like-button {
display: inline-block;
}

.dislike-button {
display: inline-block;
}

.likes {
display: inline-block;
}

.comments-container {
display: inline-block;
}

.comments-section {
display: inline-block;
}

.comments-form {
display: inline-block;
}

.comment-button {
display: inline-block;
} */
