* {
	padding: 0;
	margin: 0;
	font-family: body-text;
	font-weight: 600;
	font-size: 12px;
	list-style: none;
}

.author {
	font-weight: 10;

}

.posts-container {
	margin-bottom: 10vh;
	display: grid;
	justify-content: center
}

.avatar {
	width: 80px;
	height: 80px;
	border-radius: 100%;
}

.logo-text {
	font-family: instagram-logo;
	font-weight: 10;
  margin: 0;
}

.logo-container {
	width: 30px;
  height: 30px;
}

.text-regular {
	font-family: body-text;
	font-weight: 600;
	font-size: 14px;
}

.text-uppercase {
	font-family: body-text;
	text-transform: uppercase;
	color: #9A9A9A;
	font-size: 10px;
}

.text-small {
	font-family: body-text;
	font-weight: 600;
	font-size: 12px;
}

.feed-image,
.user-image {
	height: 100%;
	width: 100%;
}

.feed-item,
.user-item {
	min-height: 90vh;
	max-height: auto;
	overflow: hidden;

}

.feed-item {
	max-width: 60vw;
	min-width: 600px;

	grid-column: 1;
}

.likes-form {
	border-bottom: #9A9A9A solid 1px;
}

.likes-form p {
	margin-bottom: 2vw;

	margin-left: 4vw;
}

.author-container {
	display: flex;
	flex-direction: column;
	margin-left: 6vw;
	margin-right: 6vw;
}

.author-container p {
	margin-left: 1vw;

}

.like-icon,
.dislike-icon,
.btn-wrapper,
.cog {
	height: 20px;
	width: 20px;
}

.hidden {
	display: none;
}

.dislike-button {
	background-color: red;

}

form.hide-submit input[type="submit"] {
	display: none;
}

.post-footer {
	display: flex;
	flex-direction: column;
}

.image-wrapper {
	max-width: 60vw;
	min-width: 600px;
	max-height: 60vw;
	min-height: 600px;
	border: #9F9F9F solid 1px;
}

.cog {
	transition: 0.4s;
	opacity: .5;
}

.post-hidden {
	height: 0;
	displat: none !important;
}

post-visible {
	height: auto;
}

.cog:hover {
	opacity: 1;
	transform: rotate(90deg);
	transition: ease-in-out 0.4s;
}

.comments-section {
	margin-left: 4vw;
}

.image-wrapper {
	max-width: 60vw;
	min-width: 600px;
	max-height: 60vw;
	min-height: 600px;
}

.feed-image,
.user-image {
	height: 100%;
	width: 100%;
}

.feed-item,
.user-item {
	min-height: 90vh;
	max-height: auto;
	overflow: hidden;

}

.feed-item {
	max-width: 60vw;
	min-width: 600px;
	grid-column: 1;
}

.deletepost-form{
  position: absolute;
	margin-left: 8px;
  margin-top: 8px;


}


.header .logo-container:first-child , .footer-nav-container a:first-child {
	margin-left: 2vh;
}
.footer-nav-container a:last-child, .cog{
	margin-right: 2vh;
}
.header .logo-container:first-child {
	margin-top: 2vh;
}

.deletepost, [type="button"], [type="reset"], [type="submit"] {

}
