@media screen and (max-width: 600px) {
    .image-wrapper {
       width: 100vw !important;
       height: 100vw !important;
        border: #9F9F9F solid 1px;
        
      }
      .feed-image, .user-image{
        width: 100%;
        height: auto;
        }
}
