.form-container {
	width: 100%;
	display: flex;
		justify-content: center;
}


.register-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 40vw;
	margin-top: 2vh;
}

::placeholder {
text-align: center;
}
